<!--Barra de inicio-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-1">DropBlack</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" data-scroll href="#trabajos">Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#novedades">Novedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-scroll href="/tienda/shop">Tienda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administrador
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/login">Ingresar</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Registrarse</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--imagenes carousel-->
<div class="carruselgrupo">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/Camara1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/Camara2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/Tablet.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/Tablet2 (2).jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>




<!--Linea divisoria-->
<div class="linea"></div>
{{!-- Trabajos --}}
<nav id="trabajos" class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 class="navbar-brand fs-4">Nuestros trabajos</h2>
  </div>
</nav>
<div class="BoxNuestrosTrabajos">
  <div class="col-lg-10 offset-lg-1">
    <div class="card-group">
      <div class="card">
        <img src="images/Aburrido-Horizontal.jpg" type="button" data-bs-toggle="modal" data-bs-target="#diseño"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diseños digitales</h5>
          <p class="card-text">Estos proyectos de dibujo digital son echos junto al cliente desde principio hasta el
            fin
            con todos los cambios que surgan, constestando a cualquier duda e inquietud.</p>
          <p class="saber-mas"><small class="text-muted"><a class="nav-link link-secondary" data-scroll
                href="#contacto">Contactanos</a></small></p>
        </div>
      </div>
      {{!-- Modal Diseños digitales --}}
      <div class="modal fade " id="diseño" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuestros Diseños</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{!-- body Diseños Digitales --}}
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row row-cols-1 row-cols-md-3 g-1">
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Diseños/flor.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-40 border-0">
                          <img src="/images/Diseños/tren.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Diseños/ela.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Diseños/1234.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Diseños/hercules.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Diseños/dientedeleon.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 align-self-center">
                    <div class="row row-cols-1 row-cols-md-1 g-0">
                      <div class="col">
                        <div class="card h-50 border-0">
                          <img src="/images/Diseños/And.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-50 border-0">
                          <img src="/images/Diseños/asdw.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-50 border-0">
                          <img src="/images/Diseños/CajadeSorpresas.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Fin Modal Diseños digitales --}}
      <div class="card">
        <img src="images/Lluvia.jpg" type="button" data-bs-toggle="modal" data-bs-target="#fotografia"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fotografia</h5>
          <p class="card-text">La fotografia es nuestro fuerte, con gran amplitud de sectores en lo que a esto
            respecta,
            desde el estudio hasta cualquier fiesta que quieras inmortalizar en fotos.</p>
          <p class="saber-mas"><small class="text-muted"><a class="nav-link link-secondary" data-scroll
                href="#contacto">Contactanos</a></small></p>
        </div>
      </div>
      {{!-- Modal Fotografia --}}
      <div class="modal fade " id="fotografia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuestras Fotografias</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{!-- body Fotografias --}}
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row row-cols-1 row-cols-md-3 g-1">
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Fotografia/camaraprodu.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-40 border-0">
                          <img src="/images/Fotografia/camaraprodu2.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Fotografia/camaraprodu5.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Fotografia/produc.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Fotografia/notebook.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Fotografia/camaraprodu3.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 align-self-center">
                    <div class="row row-cols-1 row-cols-md-1 g-0">
                      <div class="col">
                        <div class="card h-50 border-0">
                          <img src="/images/Fotografia/camaraprodu4.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card border-0">
                          <img src="/images/Fotografia/fotoprod.jpg" style="width: 300px;" class="card-img-top"
                            alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Fin Modal Fotografia --}}
      <div class="card">
        <img src="images/Nube.jpg" type="button" data-bs-toggle="modal" data-bs-target="#edicion" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Edición Fotografica</h5>
          <p class="card-text">Nuestro equipo esta totalmente capacitado para poder reparar o mejorar fotos que
            necesiten
            de nuestra.</p>
          <p class="saber-mas"><small class="text-muted"><a class="nav-link link-secondary" data-scroll
                href="#contacto">Contactanos</a></small></p>
        </div>
      </div>
      {{!-- Modal Edicion --}}
      <div class="modal fade " id="edicion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuestras Fotografias</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{!-- body Edicion --}}
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row row-cols-1 row-cols-md-3 g-1">
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Edicion/edicion1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-40 border-0">
                          <img src="/images/Edicion/edicion2.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Edicion/edicion3.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Edicion/edicion4.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Edicion/edicion5.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100 border-0">
                          <img src="/images/Edicion/edicion6.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 align-self-center">
                    <div class="row row-cols-1 row-cols-md-1 g-0">
                      <div class="col">
                        <div class="card h-50 border-0">
                          <img src="/images/Edicion/edicion7.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card border-0">
                          <img src="/images/Edicion/edicion8.jpg" style="width: 300px;" class="card-img-top"
                            alt="...">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- Fin Modal Edicion --}}
    </div>
  </div>
</div>

<!--Nav-Novedades-->
<nav id="novedades" class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 class="navbar-brand fs-4">Novedades</h2>
  </div>
</nav>

{{!-- NOVEDADES --}}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-8">
      <div class="boxnovedades">
        <div class="row row-cols-1 row-cols-md-3 g-3">
          {{#each novedades}}
          <div class="col">
            <div class="card bg-dark text-white border-0">
              <a href="#"><img src="{{{imagen}}}" class="img-fluid rounded-start opacity-50" class="card-img-top">
              </a>
              <div class="card-img-overlay">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text ">{{subtitulo}}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="javascript:void(0);" class="btn btn-outline-light  btn-sm" data-bs-toggle="modal"
                    data-bs-target="#modal{{id}}"><i class="fa-solid fa-up-right-from-square"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{!-- Testimonios --}}
    <div class="col-1"></div>
    <div class="col-sm-3 align-self-center">
      <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner rounded-circle shadow-lg bg-dark text-white ">
            <div class="carousel-item active">
              <img src="images/testimonio1.jpg" class="d-block w-100 opacity-75" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> Victoria Simón <i class="fa-regular fa-thumbs-up"></i></h5>
                <p class="fst-italic">Exelente servicio la verdad.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/testimonio2.jpg" class="d-block w-100 opacity-75" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> Emiliano Patrocinia <i class="fa-regular fa-thumbs-up"></i></h5>
                <p class="fst-italic">Me arreglaron unas fotos de las vacaciones que estaban oscuras, unos genios.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/testimonio3.jpg" class="d-block w-100 opacity-75" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> Edelmiro Abigaíl <i class="fa-regular fa-thumbs-up"></i></i></h5>
                <p class="fst-italic">Me cubrieron un evento y con la mejor onda.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/testimonio4.jpg" class="d-block w-100 opacity-75" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> Sergio Adelita <i class="fa-regular fa-thumbs-up"></i></i></h5>
                <p class="fst-italic">Todo perfecto con mucha profecionalidad las fotos.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- Modal --}}
{{#each novedades}}
<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>{{subtitulo}}</h5>
        <img src="{{imagen}}" alt="">
        <p>{{cuerpo}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>


<!--Contacto-->
<div id="contacto" class="Contacto">
  <div class="container">
    <div class="BoxContacto">
      <div class="row ">
        <!--Mapa-->
        <h2>Contacto</h2>
        <div class="col-sm-6 col-md-5 col-lg-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="Mapa"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2202745348386!2d-58.42212748451987!3d-34.59859106473451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1648335241011!5m2!1ses-419!2sar"
              width="100%" height="350px" ; referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <!--Formulario-->
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
          <form action="/" method="post" class="">
            <p>
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre">
            </p>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="email">
            <div class="form-group">
              <label for="mensaje">Mensaje</label>
              <textarea class="form-control" name="mensaje" id="mensaje" rows="4"></textarea>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          {{#if message}}
          {{message}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>





</div>