{{!-- Tienda --}}

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xl">
      <div class="GrillaTienda">
        {{!-- Grilla Tazas --}}
        <h2>Nuestros Productos</h2>
        <div class="row row-cols-1 row-cols-md-4 g-3">
          {{#each shop}}
          <div class="col">
            <div class="card border-secondary mb-3">
              <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img src="{{imagen}}"
                  class="card-img-top" alt="..."></a>
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col">
                    <h5 class="card-title">{{nombreProducto}}</h5>
                    <p class="fst-italic text-muted">{{producto}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-1"></div>
</div>
{{!-- Modal --}}
{{#each shop}}
<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title " id="exampleModalLabel">{{nombreProducto}}
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Linea divisoria-->
        <div class="linea"></div>
        <img src="{{imagen}}" alt="">
        <!--Linea divisoria-->
        <div class="linea"></div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<!--Contacto-->
<div id="contacto" class="Contacto">
  <div class="container">
    <div class="BoxContacto">
      <div class="row ">
        <h2>Contacto</h2>
        <!--Formulario-->
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
          <form action="/" method="post" class="">
            <p>
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" required>
            </p>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="email" required>
            <div class="form-group">
              <label for="mensaje">Mensaje</label>
              <textarea class="form-control" name="mensaje" id="mensaje" rows="4"></textarea>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          {{#if message}}
          <div class="alert alert-info" role="alert">
            {{message}}
          </div>
          {{/if}}
        </div>
        {{!-- indicaciones --}}
        <div class="col-sm-6 col-md-5 col-lg-6 g-3">
          <div class="container">
            <h4 class="fw-light ">Para adquirir uno de nuestros productos, envianos un mail colocando el tipo de
              producto, su nombre con
              la cantidad y nos estaremos comunicando en breve a tu email.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>